@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
html,body {
	height: 100%;
	width: 100%;
	background: #ffeafc;
	font-family: "Josefin Sans", sans-serif;
	overflow-x:hidden;
}
@media(max-width:786px){
	html{
	overflow-x:hidden;
	}
}
/*NAVBAR CSS*/
.navbar-light .navbar-nav .nav-link {
  opacity: 1;
  font-size: 1.313em;
  font-family: 'Kanit', sans-serif;
  color: #defff9;
}

.navbar {
	background-color: #fff;
	padding: 1% 2%;
	font-size: 1.2em;
	overflow: hidden!important;
}

.navbar-default,.navbar-nav li a {
	color: black;
}

.navbar-text{
	padding: 5px;
	margin: 0;
	text-align: center;
	color: red;
}

#logo{
    height: 55px ;
    width: 55px;
    padding: 5px;
    margin: 0;
}

@media(max-width:786px){
    #landing-text{
      font-size:18vw!important;
      text-align: center;
    }
}

.heading {
	text-align: center;
}
/*HOME CSS*/
#home {
	background: url("../img/back.png");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
	display:flex;
  	justify-content:center;
  	align-items:center;
	height: 100%;
	width: 100%;
	margin-top:55px;
	padding: 0;
}
#landing-text{
  color:#eee;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size: 10vw;
  font-weight: 700;
  text-transform: none;
  margin-top:0;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
    }
#links{
	display: flex;
	flex-wrap:no;
	justify-content:space-between;
	width:400px;
}
#links a{
	flex:1 1 100px;
	margin:0 5px;
}

/*HIGHLIGHTS CSS*/
#highlight{
	flex-direction:column;
}
#main-highlight-div{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.highlight-child{
	flex:0 1 300px;
}
/*ARCHIVES CSS*/
#archives{
	display:flex;
	flex-direction: column;
}
#main-archives-div{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.archives-child{
	flex:0 1 500px;
}
/*SPEAKERS CSS*/
#speakers{
	display:flex;
	flex-direction: column;
}
#main-speakers-div{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.speakers-child{
	flex-basis: min-content;
}
.speakers-picture {
	height: 300px;
	width: 520px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
	background: #bfecf0;
}
.speakers-picture img {
	border-radius: 2%;
	margin: 4px;
	filter: grayscale(30%);
	transition: all 0.7s ease;
	transform: scale(1);
}
.speakers-picture img:hover {
	transform: scale(1.15);
	transition: transform 0.3s ease-in-out;
	filter: grayscale(0%);
	padding-bottom: 15px;
}
/*VOLUNTEERS CSS*/
#volunteers{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
#top-contributor{
	flex:1 1 300px!important;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}
#top-contributor-child{
	display:flex;
	flex-wrap:wrap;
}

#volunteers .volunteers-child:nth-of-type(2){
	flex:3 1 500px!important;
}
.volImg{
	max-width:100%;
}
.overlay {
	position: relative;
	background: rgb(0, 0, 0);
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
#group-volunteers:hover .overlay {
	opacity: 1;
}
/*FOOTER CSS*/
#footer{
	display:flex;
	flex-wrap:wrap;
	background:#1e2249;
	min-height:300px;
	max-height:500px;
	color:white;
}
#footer .footer-child{
	flex:1 1 300px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
}
#footer .footer-child:nth-of-type(2){
	justify-content:space-around;
}
#footer .footer-child a{
	padding: 10px;
	text-align: center;
}
#footer .footer-child span {
	text-align: center;
}