@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@352&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
html,body {
	height: 100%;
	width: 100%;
	background: #ffeafc;
	font-family: "Josefin Sans", sans-serif;
	overflow-x:hidden;
	position: relative;
}
@media(max-width:786px){
	html{
	overflow-x:hidden;
	}
} 
/*NAVBAR CSS*/
@media all and (min-width:566) and (max-width:990px) {
	.navbar-text {
	display: inline-block;
	padding-top: 1.5rem;
	font-size: 2.5em;
	text-align: center;
	}
	#logo {
		padding: 0 ;
		height: 65px ;
    	width: 65px ;
	}
}

@media all and (min-width:991px) {
	.navbar-text{
		text-align: center ;
	}
}
@media all and (min-width:450px) and (max-width:565px) {
   .navbar-text {
	display: inline-block;
	padding-top: 1rem !important;
	font-size: 1.3em !important;
	text-align: center !important;
	}
	#logo{
		padding: 5px !important;
		height: 50px !important;
    	width: 50px !important;
	}
	.fixed-top{
	margin: 0px ;
	padding-right: 15px;
	text-align: center;
		
	}
}
@media all and (min-width:100px) and (max-width:449px) {
   .navbar-text {
	display: inline-block;
	padding-top: 1rem !important;
	font-size: 1em !important;
	text-align: center !important;
	}
	#logo{
		height: 50px !important;
    	width: 50px !important;
	}
	.fixed-top{
	margin: 0px !important;
	padding-right: 15px !important;
	text-align: center !important;
	}
}
.navbar-light{
  background-color:#fdfdfd;
}
.navbar-text {
	padding-top: 0.8em;
	font-size: 2em;
	color: #bb095c;
	font-family: 'Kanit', sans-serif;
	
}
.fixed-top{
	margin-right: 17px;
}

.navbar-nav .nav-link {
  opacity: 1;
  font-size: 1.313em;
  font-family: "Josefin Sans", sans-serif;
  color: #defff9;
}
.navbar {
	padding: 0rem 1rem;
}

#logo {
	height: 60px;
	width: 60px;
	margin: 5px;
}

.heading {
	text-align: center;
}
#nav-ul{
	font-size: 0.7em;
	font-weight: bold;
	padding-top: 0.5em;
}
/*HOME CSS*/
@media(max-width:786px){
    #landing-text{
      font-size:18vw!important;
      text-align: center;
    }
}
#home {
	background: url("../img/back.png");
	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
	display:flex;
  	justify-content:center;
  	align-items:center;
	height: 100%;
	width: 100%;
	padding: 0;
}
#landing-text{
  color:#eee;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size: 10vw;
  font-weight: 700;
  text-transform: none;
  margin-top:0;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
    }
#links{
	display: flex;
	flex-wrap:no;
	justify-content:space-between;
	width:400px;
}
#links a{
	flex:1 1 100px;
	margin:0 5px;
}

/*HIGHLIGHTS CSS*/
#highlight{
	flex-direction:column;
}
#main-highlight-div{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.highlight-child{
	flex:0 1 300px;
}
/*ARCHIVES CSS*/
#archives{
	display:flex;
	flex-direction: column;
}
#main-archives-div{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.archives-child{
	flex:0 1 500px;
}
/*SPEAKERS CSS*/
#speakers{
	display:flex;
	flex-direction: column;
}
#main-speakers-div{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
.speakers-child{
	flex-basis: min-content;
}
.speakers-picture {
	height: 300px;
	width: 520px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px;
	background: #bfecf0;
}
.speakers-picture img {
	border-radius: 2%;
	margin: 4px;
	filter: grayscale(30%);
	transition: all 0.7s ease;
	transform: scale(1);
}
.speakers-picture img:hover {
	transform: scale(1.15);
	transition: transform 0.3s ease-in-out;
	filter: grayscale(0%);
	padding-bottom: 15px;
}
/*VOLUNTEERS CSS*/
#volunteers{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
#top-contributor{
	flex:1 1 300px!important;
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}
#top-contributor-child{
	display:flex;
	flex-wrap:wrap;
}

#volunteers .volunteers-child:nth-of-type(2){
	flex:3 1 500px!important;
}
.volImg{
	max-width:100%;
}
.overlay {
	position: relative;
	background: rgb(0, 0, 0);
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
#group-volunteers:hover .overlay {
	opacity: 1;
}
/*FOOTER CSS*/
#footer{
	display:flex;
	flex-wrap:wrap;
	background:#1e2249;
	min-height:300px;
	max-height:500px;
	color:white;
}
#footer .footer-child{
	flex:1 1 300px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	
}
#footer .footer-child:nth-of-type(2){
	justify-content:space-around;
}
#footer .footer-child a{
	padding: 10px;
	text-align: center;
}
#footer .footer-child span {
	text-align: center;
}